@font-face {
    font-family: 'Roboto';
    src: url('roboto.eot'); /* IE9 Compat Modes */
    src: url('roboto.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('roboto.woff') format('woff'), /* Modern Browsers */
    url('roboto.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('roboto.svg#svgFontName') format('svg'); /* Legacy iOS */
  }
  
/*محمدرضا*/

@media only screen and (min-width:760px){
    .second-container{
        margin-top: -60px;
    }
}
.b-text:hover{
    text-decoration: none;
}
.w-text:hover{
    text-decoration: none;
}

/*محمدرضا*/
/*زهرا*/


/*زهرا*/
/*مهسا*/
.m-row{
    margin: 0px;
}

.background-pic1{
    background-image: url(image/pic\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}
.size-font{
    font-size: 15px;
}

.size-font-h{
    font-size: 17px;
    font-weight: bold;
}

.btn-end{
    height: 1px;
    width: 100%;
    background-color: white;
    border-radius:0px ;
}

.a-read{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.945);
    white-space: nowrap;
}

.a-read:hover{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.945); ;
}

.bg-footer{
background-color: #333333;
text-align: center;
font-size: 12px;
}
.bg-color-footer{
   background-color: #7f44c0;
}
/*مهسا*/

   

